

.about-container{
    margin:0 auto;
    display: flex;
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}

@media screen and (max-width: 700px) {
    .about-container{
        flex-direction: column;
    }
    .about-container >p{
        margin: 0 auto;
    }
}



.about-container >p{
    max-width: 320px;
    min-width: 250px;
    font-weight: 700;
    padding: 10px;
    line-height: 1.333;
    font-size: 19px;
}

.post {
    margin: 10px;
    display: flex;
    text-decoration: none;
    color: inherit;
    max-width: 350px;
    min-width: 250px;
    position: relative;
    padding: 2rem;
    box-shadow: inset 0 0 0 4px #000, inset -4px -4px 0 6px #ccc;
    background-color: #fff;
    cursor: pointer;
}

.post:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform-origin: 0 bottom 0;
    transform: scaleY(0);
    transition: 0.4s ease-out;
}

.post:hover .post-title {
    color: #fff;
}
.post:hover:before {
    transform: scaleY(1);
}

.post-title {
    position: relative;
    font-size: 23px;
    font-weight: 700;
    line-height: 1.333;
    transition: .4s ease-out;
}


.home-containers-wrapper{
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    height: auto;
}

.work-container{
    margin: 0 auto;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    border-bottom: 2px solid black;

}

.work-container > h1{
    position: relative;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.work-container > h1::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.work-container > h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.work-container > h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 20% 91%);
    z-index: -1;
    transition: transform .3s ease;
}


