.footer-container{
    height: auto;
    min-height: 200px;
    width: 100%;
    position: relative;
    background: black;
    /*background-image: url("./../../resources/pexels-matej-1074882.jpg");
    background-size: 100% 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding-bottom: 50px;

}

.contact-container >h1{
    color: white;
    font-size: 45px;
    font-family: -apple-system;
}

.contact-container > p{
    text-align: center;
    color: white;
    max-width: 320px;
}

.mail-icon{
    color: white;
}

.phone-icon{
    color: white;
}

.socials{
    position: absolute;
    right: 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 10px;
}

.socials > a{
    color: white;
    padding: 5px;
    transition: 0.5s;
    width: 25px;
}

.socials a:hover{
    transform: translateY(10px);
}


.credits-container{
    margin-top: -20px;
    height: 60px;
    display: flex;
    position: relative;
    background-color: #17181c;
    color: white;
}

.credits-container > p{
    margin-top: 5px;
    margin-left: 80px;
    padding: 10px;
    margin-bottom: 20px;
}


@media screen and (max-width: 900px) {
    .footer-container{
        background-image: none;
        background-color: black;
    }
    .socials{
        flex-direction: row;
    }
}